@using Rad301ClubsV1.Models.ClubModel;

@model IEnumerable<Club>


@* A form to post back to the same controller a search term *@
<h1>Club Events</h1>

<form method="get">
    <input type="search" name="ClubName" value="@ViewBag.cName" />
    <input type="submit" name="Search by Club name" />
</form>

@foreach (Club c in Model)
{
     <h3>
        @Html.DisplayFor(m => c.ClubName, new { @class = "control-label" })
    </h3>

    <table class="table">
        <tr>
            <th align="left">
                Venue
            </th>

            <th align="left">
                Location
            </th>
            <th align="left">
                StartTime
            </th>
            <th align="left">
                EndTime
            </th>
       </tr>  

       @foreach (ClubEvent ce in c.clubEvents)
       {
        <tr>
            <td align="left">
                @Html.DisplayFor(modelItem => ce.Venue)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => ce.Location)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => ce.StartDateTime)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => ce.EndDateTime)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = ce.EventID }) |
                @Html.ActionLink("Details", "Details", new { id = ce.EventID }) |
                @Html.ActionLink("Delete", "Delete", new { id = ce.EventID }) |
                @Html.ActionLink("Create", "Create", new { id = ce.EventID })
            </td>*@
        </tr>
       }

       

    </table>
}
